<div class=" container-fluid p-md-5 p-3" style="background:black;color:white">
    <div class=" row">
        <div class="col-md-6">
            <div>
                <h6>Contact</h6>
                <div>
                    <p>8008298547</p>
                    <p>81431396442</p>
                </div>
            </div>
        </div>
        <div class="col-md-6"></div>
    </div>
</div>
<div class=" container-fluid">
    <div class="row d-flex justify-content-center align-items-center" style="background-color: #ffeab4;height: 20px;">
        <p>2022 All rights reserved</p>
    </div>
</div>