<div class="container-main">
    <div class="navbar-container">
        <div class="brand-con">
           <img src="assets/images/alogo1.png" alt="" width="100px">
        </div>
        <div class="menu-bar">
           <button id="menu-bar-btn" (click)="menuToggle()">
            <span class="material-icons" style="color: black;">menu</span>
           </button>
        </div>
        <!-- desktop menu -->
        <div class="menu-con">
            <ul class="menu">
               <!-- menu will be added dynamically -->
               <li *ngFor="let menu of menus" [routerLink]="menu.url">{{menu.label}}</li>
            </ul>
        </div>
    </div>
     <!-- mobile menu -->
     <div class="mobile-menu-con" [ngClass]="toggle ? 'd-none':''">
        <ul class="mobile-menu">
            <!-- menu will be added dynamically -->
            <li *ngFor="let menu of menus"  [routerLink]="menu.url">{{menu.label}}</li>
        </ul>
    </div>
</div>