.container-fluid {
    background-image: url("../../../assets/images/bg-2.png");
    height: 100vh;
    background-size: cover;
    padding: 0 !important;
    .blur {
        width: 100%;
        height: 100%;
        // background-color: rgba(15, 14, 14,0.4);
    }

    .call-now,.service {
        width: 150px;
        margin-right: 10px;
        span {
            margin-left: 5px;
            letter-spacing: 2px;
        }
    }
}


@media (max-width:768px) {
    .container-fluid {
        background-image: url("../../../assets/images/bg-1.png");
    }
}