<div class="container-fluid">
    <div class=" blur row p-0">
        <div class=" col-md-6 d-flex flex-column justify-content-center align-items-center">
            <div class=" px-4 w-100">
                <h1 class=" display-1 text-light text-capitalize animate__animated animate__slideInLeft">
                    We make your home look beautiful
                </h1>
            </div>
            <div class="p-5 d-flex w-100 justify-content-start animate__animated animate__fadeIn">
                <div class="row">
                    <div class="col-md-6">
                        <a href="tel:9792443188" mat-raised-button color="warn" class="px-3 py-2 call-now mb-4 ">
                            <mat-icon>call</mat-icon>
                            <span>Call Now</span>
                        </a>
                    </div>
                    <div class="col-md-6">
                        <a href="#services"  mat-raised-button color="info" class="px-3 py-2 service ">
                            <mat-icon>info</mat-icon>
                            <span>Services</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class=" col-md-6"></div>
    </div>
</div>
<!-- our services -->
<ng-container>
    <app-services></app-services>
</ng-container>

<!-- customers talk -->
<ng-container>
    <app-customers-talk></app-customers-talk>
</ng-container>
