<div class=" container-fluid p-md-5 p-3" style="background:#edf6b1" id="services">
    <h4 class=" display-4 text-center" style=" line-height:15px">Our Services</h4>
    <span class=" d-flex justify-content-center"><hr style="width:20%;border: 2px solid black;"></span>
    <div class="row">
        <div class=" col-md-4 mb-4" [ngClass]="i<2?'animate__animated animate__slideInLeft':'animate__animated animate__slideInRight delay-1s'" *ngFor="let service of services;index as i">
         <mat-card class="card" style=" height:100%">
             <mat-card-title class="display-6">{{service.label |uppercase}}</mat-card-title>
             <img mat-card-image [src]="service.img" [alt]="service.label">
             <mat-card-content style="text-align: justify;" class=" text-poppins">
              {{service.description |titlecase}}
             </mat-card-content>
         </mat-card>
        </div>
     </div>
</div>
